@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Anton";
  src: url("../../public/Fonts/Anton-Regular.ttf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


